<!-- include header -->
<%- include('./partials/header.ejs') %>

    <div id="login-container">
      <div id="left-column"></div>
      <div id="branding">
        <img src="./images/logo.png" />
        <h1>Sign In </h1>
      </div>
      <div id="login-form">
        <form method="post" action="/signin">
          <input
            type="text"
            name="username"
            placeholder="enter mobile or email"
            value="<%= data.username %>"
          />
          <% if(errors.username){ %>
          <p class="error show"><%= errors.username.msg %></p>
          <% } %>
          <input type="password" name="password" placeholder="enter password" />
          <% if(errors.password){ %>
            <p class="error show"><%= errors.password.msg %></p>
            <% } %>
             
          <% if(errors.common){ %>
            <p class="error show"><%= errors.common.msg %></p>
            <% } %>
          <input type="submit" value="Login" />
        
        </form>
        <div style="color:white; font-size: 14px; text-align: center;">Don't have an account? Please <a href="/signup">signup</a></div>
      </div>
    </div>
  </body>
</html>
